<form [formGroup]="form">
  <div class="col-sm-{{colSm}}">
    <label for="{{id}}">
      {{label}}
      <span class="obrigatory-field" *ngIf="obrigatory">&nbsp;*</span>:
    </label>
    <input
      type="text"
      name="{{id}}"
      id="{{id}}"
      class="form-control input-sm"
      [formControlName]="controlName"
      [readOnly]="readonly"
      mask="{{mask}}"
      (keyup)="onChange()"
    />
    <span
      id="ms-{{id}}"
      class="label label-danger"
      *ngIf="!error.valid"
    >
      {{error.message}}
    </span>
  </div>
</form>
