<app-fieldset-card legend="Dados de autenticação" [obrigatory]="true">
  <div>
    <div class="row">
      <app-form-input-select
        #levelRef
        colSm="3"
        id="level"
        label="Nível"
        controlName="level"
        [obrigatory]="true"
        [form]="form"
        *ngIf="type == 2"
      >
        <option value="0">SELECIONE</option>
      </app-form-input-select>

      <app-form-input-group-text
        #loginRef
        [colSm]="type == 1 ? '4' : '3'"
        id="login"
        icon="glyphicon-user"
        label="Login"
        placeholder="Digite seu nome de usuário."
        controlName="login"
        [obrigatory]="true"
        [form]="form"
      />

      <app-form-input-group-text
        #passwordRef
        [colSm]="type == 1 ? '4' : '3'"
        id="password"
        icon="glyphicon-lock"
        label="Senha"
        placeholder="Digite sua senha."
        controlName="password"
        [obrigatory]="true"
        [form]="form"
      />

      <app-form-input-group-text
        #passwordConfirmRef
        [colSm]="type == 1 ? '4' : '3'"
        id="password-confirm"
        icon="glyphicon-lock"
        label="Confirmar Senha"
        placeholder="Confirme sua senha."
        controlName="passwordConfirm"
        [obrigatory]="true"
        [form]="form"
      />
    </div>
  </div>
</app-fieldset-card>
