<app-fieldset-card legend="Proprietários Cadastrados">
  <app-form-table id="table-proprietaries">
    <thead>
      <tr>
        <th class="hidden">ID</th>
        <th style="width: 40%;">NOME</th>
        <th style="width: 16%;">CPF/CNPJ</th>
        <th style="width: 10%;">CADASTRO</th>
        <th>EMAIL</th>
        <th style="width: 2%;">&nbsp;</th>
        <th style="width: 2%;">&nbsp;</th>
      </tr>
    </thead>

    <tbody id="tbody-proprietaries">
    </tbody>
  </app-form-table>
</app-fieldset-card>
