<app-fieldset-card legend="Dados pessoais" [obrigatory]="true">
  <div class="row">
    <app-form-input-text
      colSm="8"
      id="name"
      label="Nome"
      placeholder="Digite seu nome completo."
      controlName="name"
      [obrigatory]="true"
      [form]="form"
    />
    <app-form-input-text
      colSm="2"
      id="cpf"
      label="CPF"
      placeholder="Digite seu CPF válido."
      controlName="cpf"
      mask="###.###.###-##"
      [obrigatory]="true"
      [form]="form"
    />
    <app-form-input-date
      colSm="2"
      id="birth"
      label="Nascimento"
      placeholder="Digite sua data de nascimnto."
      controlName="birth"
      [obrigatory]="true"
      [form]="form"
    />
  </div>
</app-fieldset-card>
