<app-fieldset-card legend="Dados de Contato" [obrigatory]="true">
  <div class="row">
    <app-form-input-text
      #streetRef
      colSm="4"
      id="street"
      label="Endereço"
      [obrigatory]="true"
      controlName="street"
      [form]="form"
    />
    <app-form-input-text
      #numberRef
      colSm="1"
      id="number"
      label="Número"
      [obrigatory]="true"
      controlName="number"
      [form]="form"
    />
    <app-form-input-text
      #neighborhoodRef
      colSm="3"
      id="neighborhood"
      label="Bairro / Distrito"
      [obrigatory]="true"
      controlName="neighborhood"
      [form]="form"
    />
    <app-form-input-text
      #complementRef
      colSm="2"
      id="complement"
      label="Complemento"
      [obrigatory]="false"
      controlName="complement"
      [form]="form"
    />
    <app-form-input-text
      #codeRef
      colSm="2"
      id="code"
      label="CEP"
      [obrigatory]="true"
      controlName="code"
      [form]="form"
      mask="##.###-###"
    />
  </div>
  <div class="row">
    <app-form-input-select
      #stateRef
      colSm="2"
      id="state"
      label="Estado"
      [obrigatory]="true"
      controlName="state"
      [form]="form"
    >
      <option value="0">SELECIONE</option>
    </app-form-input-select>
    <app-form-input-select
      #cityRef
      colSm="3"
      id="city"
      label="Cidade"
      [obrigatory]="true"
      controlName="city"
      [form]="form"
    >
      <option value="0">SELECIONE</option>
    </app-form-input-select>
    <app-form-input-group-text
      #phoneRef
      colSm="2"
      id="phone"
      label="Telefone"
      icon="glyphicon-phone-alt"
      [obrigatory]="true"
      controlName="phone"
      [form]="form"
      mask="## ####-####"
    />
    <app-form-input-group-text
      #cellphoneRef
      colSm="2"
      id="cellphone"
      label="Celular"
      icon="glyphicon-phone"
      [obrigatory]="true"
      controlName="cellphone"
      [form]="form"
      mask="## # ####-####"
    />
    <app-form-input-group-text
      #emailRef
      colSm="3"
      id="email"
      label="E-mail"
      icon="glyphicon-envelope"
      [obrigatory]="true"
      controlName="email"
      [form]="form"
    />
  </div>
</app-fieldset-card>
